<!doctype html>
<html>
<head>
    {% load static %}
    <link href="{% static '/quiz/css/qstyle.css' %}" rel="stylesheet">
</head>
<body class="bod">


<div id="rotate-words">
    <div>Welcome to Game of Facts<br/> <span>Everyone</span></div>
    <div>A simple quiz created for<br/> <span>Middle-schoolers</span></div>
    <div>For improving knowledge for <br/> <span>For Everyone</span></div>
    <div>This website is created by<br/> <span>Django</span></div>
    <div>With special effects from full-page.js<br/> <span> </span></div>
    <div>Other effects created using<br/> <span>CSS</span></div>
    <div>Thanks keith counter timer for<br/> <span>Jquery timer </span></div>

</div>


</body>
</html>
